*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: black;
    height: 100vh;
}

header p, h1{
    color: #FFFFFF;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #E60012;
    position: sticky;
    top: 0;
    z-index: 9;
    height: 60px;
}

.menu a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    margin: 0 12px;
    transition: 0.5s;
}

.menu a:hover{
    color: #0A0A0A;
}

.menu h2{
    color: #FFFFFF;
    margin-left: 10px;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%
}


.container-text{
    max-width: 700px;
    padding: 24px;
}

.container-text h1{
    text-transform: uppercase;
    margin-bottom: 8px;
}

.container-text p{
    margin-bottom: 8px;
    color: #FFFFFF;
    line-height: 150%;
    font-style: italic;
    font-size: 22px;
    padding: 10px 0px;
}

.header-button{
    background-color: #E60012 ;
    color: #FFFFFF;
    padding: 18px;
    border-radius: 4px;
    transition: all 0.5s;
    margin-top: 12px;
    cursor: pointer;
}

.header-button:hover{
    background-color: rgb(153, 7, 7);
    transform: scale(1.10);
}

.logo{
    flex: 1;
    max-width: 400px;
    padding: 24px;
}

.members{
    padding: 24px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.members h2{
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
}

.members-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 24px;
    width: 100%;
    max-width: 900px;
}

.portrait-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portrait-container h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 32px;
}

.portrait{
    height: 300px;
    max-width: 300px;
    object-fit: cover;
    border: solid 4px #FFC300;
    margin: 54px;
    border-radius: 4px;
    transition: all 0.5s;
}

.portrait:hover{
    transform: scale(1.1);
}

.portrait-akechi{
    height: 300px;
    width: 300px;
    border: solid 4px #FFC300;
    margin: 24px;
    background-image: url(https://raw.githubusercontent.com/Fabricio3916/persona-5-landing-page/refs/heads/main/assets/portraits/portrait-akechi.webp);
    background-size: 300px;
    background-repeat: no-repeat;
    transition: all 0.9s;
}

.portrait-akechi:hover{
    background-image: url(https://raw.githubusercontent.com/Fabricio3916/persona-5-landing-page/refs/heads/main/assets/portraits/portrait-akechidark.png);
    background-size: 300px 300px;
    transform: scale(1.1);
}

.goal{
    background-color: black;
    padding: 150px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goal h2, .goal p{
    color: #FFFFFF;
    line-height: 150%;
    font-style: italic;
    font-size: 32px;
    width: 100%;
    padding: 10px;
}

.gif{
    height: calc(100vh - 120px);
    width: 100%;
    background-image: url(/assets/persona5-joker.gif);
    background-size: 100% 100%;
}

footer{
    background-color: #E60012;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h4{
    color: #FFFFFF;
}

@media(max-width:700px){
    .logo{
       height:  70%;
       padding: 24px;
    }

    header p, h1{
        font-size: 18px;
    }
    
    .header-container{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 24px;
        height: calc(100vh - 60px);
        }

    .container-text{
        flex: 1;
    }

    .links a, .links h2{
        font-size: 14px;
        margin: 0 5px;
    }

    .header-button{
        margin-top: 12px;
    }
}

@media(max-width:550px){
    
    .goal{
        padding: 50px;
    }
    .goal h2, .goal p{
        font-size: 18px;
        width: 100%;
    }

    .portrait-container{
        width: 100%;
    }

    .menu h2, .links a{
        font-size: 18px;
        margin: 0;
    }

    .gif{
        max-height: 300px;
    }


}

@media(max-height:730px ){
    .logo{
        width: 80%;
    }

    .header-container{
        max-height: calc(100vh - 60px);
    }
}

@media(max-height:400px ){
    .logo{
       max-width: 300px;
    }

    .header-container{
        flex: 1;
    }
}